<div class="loader-container" *ngIf="loading">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
      </div>
    <h4 class="title">Création du design en cours</h4>
</div>
<div class="container-scroll">
  <div class="buttonBack" (click)="appComponent.step = 1">
      <div class="change-button left">
          <img src="./assets/icons/arrow.svg" (click)="changeSide(sideNumber-1)" alt="">
      </div>
      Retour
  </div>
  <div class="container-models">
      <div class="controls">
        <div id="add" class="button" *ngIf="switch !== 'zones'" (click)="addText()">
          <img src="./assets/icons/text.svg" alt="">
          <span>Texte</span>
        </div>
        <div class="button" *ngIf="switch === 'zones'" (click)="displayBackgroundChoice()">
          <img src="./assets/icons/bg.svg" alt="">
          <span>Fond</span>
        </div>
        <div class="button" (click)="openModalLib()">
          <img src="./assets/icons/image.svg" alt="">
          <span>Design</span>
        </div>
        <div class="button" (click)="openModalImport()">
          <img src="./assets/icons/upload.svg" alt="">
          <span>Import</span>
        </div>
      </div>
      <div class="change-button left">
        <img src="./assets/icons/arrow.svg" (click)="changeSide(sideNumber-1)" alt="">
      </div>
      <div class="container-canvas" [ngStyle]="{'transform' : scaleXY}">

        <canvas id="c" width="550" height="280" style="z-index: 1;">
        </canvas>
        <div class="bg-zone">
          <img [class]="'bg-image' + listZones[sideNumber].name" *ngIf="switch === 'zones'" src="./assets/shoes/af1/out.png"  alt="">
        </div>
        <div class="swoosh-zone" *ngIf="(switch === 'zones' && sideNumber === 0) || (switch === 'zones' && sideNumber === 2)">
          <img [class]="'swoosh-image' + listZones[sideNumber].name"  src="/assets/zones/af1/svg/swoosh.png"  alt="">
        </div>
        <div class="list-side" *ngIf="switch === 'shoes'">
          <div *ngFor="let side of listSide; let i = index" class="item">
            <img [src]="side.img" (click)="changeSide(i)" alt="">
          </div>
        </div>
        <div class="list-side" *ngIf="switch === 'zones'">
          <div *ngFor="let side of listZones; let i = index" class="item zone">
            <img [src]="side.imgZone" (click)="changeSide(i);" alt="">
          </div>
        </div>
      </div>
      <div class="change-button">
        <img src="./assets/icons/arrow.svg" (click)="changeSide(sideNumber+1)" alt="">
      </div>
      <div class="switch-zone" *ngIf="this.choice.type === 'af1'">
        <div class="switch-item" [ngClass]="{'active': switch === 'shoes'}" (click)="switchZone('shoes')">
          <span>
            Chaussure
          </span>
        </div>
        <div class="switch-item" [ngClass]="{'active': switch === 'zones'}" (click)="switchZone('zones')">
          <span>
            Zones
          </span>
        </div>
      </div>
  </div>
  
  <div class="item-selected">
    <div class="category-item">
      <div class="delete-icon" *ngIf="activeObject" (click)="deleteObject()">
        <img src="./assets/icons/delete.svg" alt="">
      </div>
      <span class="title" *ngIf="generalDisplay" contenteditable="true" (blur)="blur($event)">{{ activeObject.text }}</span>
      <span class="title" *ngIf="imgDisplay">Image</span>
    </div>
    <div id="i-text" class="item-panel">
      <div id="general-controls" *ngIf="generalDisplay">
        <div class="style-panel">
          <span>Style</span>
          <div id="text-controls-additional">
            <input type='checkbox' [(ngModel)]="isBold" (ngModelChange)="textTransform()" name='fonttype' id="text-cmd-bold">
            <label class="text-control" for="text-cmd-bold">
              <b>B</b>
            </label>
            <input type='checkbox' [(ngModel)]="isItalic" (ngModelChange)="textTransform()" name='fonttype' id="text-cmd-italic">
            <label class="text-control" for="text-cmd-italic">
              <i>I</i>
            </label>
            <input type='checkbox' name='fonttype' id="text-cmd-underline">
            <label class="text-control" for="text-cmd-underline">
              <span style="text-decoration:underline">U</span>
            </label>
            <div id="font-picker" (click)="changeFont($event.target.value)"></div>
          </div>
        </div>
        <div id="color-controls">
          <span>Couleur</span>
          <div id="color-list">
            <div *ngFor="let item of colorList" class="color-item" [id]="item" [ngClass]="{active: activeColor === '#'+item}" [ngStyle]="{'background-color': '#'+item}" (click)="changeColor(item)"></div>
          </div>
        </div>
      </div>
      <div id="image" class="item-panel" *ngIf="imgDisplay">
        <div class="style-panel">
          <span>Style</span>
          <div id="img-controls-additional">
            <!-- <div (click)="bringForward()">En avant </div>
            <div (click)="bringBackward()"> En arriere</div> -->
            <div class="img-controller" (click)="flipX()"><img src="./assets/icons/left.svg" alt=""></div>
            <div class="img-controller" (click)="flipY()"><img src="./assets/icons/flip.svg" alt=""></div>
          </div>
        </div>
        <div id="color-controls" *ngIf="activeObject?.color">
          <span>Couleur</span>
          <div id="color-list">
            <div *ngFor="let item of imgColors" class="color-item" [ngClass]="{active: activeObject.color === item.color}" [ngStyle]="{'background-color': '#'+item.color}" (click)="changeColorImg(item)"></div>
          </div>
        </div>
      </div>
      <div id="color-controls" *ngIf="backgroundColorDisplay">
        <span>Couleur</span>
        <div id="color-list">
          <div *ngFor="let item of colorList" class="color-item" [id]="item" [ngStyle]="{'background-color': '#'+item}" (click)="changeBg(item)"></div>
        </div>
      </div>
    </div>
    <div class="price-panel">
        <div>
            <span class="title">
              Total :
              {{ totalPrice }}€
            </span>
        </div>
        <div class="button-cart" [ngClass]="{'disabled': totalPrice === 0}"  (click)="respond()">
            Ajouter au panier
        </div>
    </div>
  </div>
</div>