<div class="popup">
    <div class="header-container">
      <h2>Selectionner un design</h2>
      <div class="close" (click)="closeDialog()">&times;</div>
    </div>
    <div class="container-modal">
      <h4 *ngIf="(isMobile && currentCat !== '')" (click)="currentCat = ''"><- Retour</h4>
      <div class="category-list" *ngIf="(isMobile && currentCat === '') || !isMobile">
        <!-- <div class="category-item" (click)="getCurrentCategory('photo')">
          <span>Images</span>
        </div> -->
        <div class="category-item" (click)="getCurrentCategory('food')">
          <span>Food</span>
        </div>
        <div class="category-item" (click)="getCurrentCategory('girly')">
          <span>Girly</span>
        </div>
        <div class="category-item" (click)="getCurrentCategory('pattern')">
          <span>Pattern</span>
        </div>
        <div class="category-item" (click)="getCurrentCategory('abstract')">
          <span>Abstrait</span>
        </div>
      </div>
      <div class="content" *ngIf="(isMobile && currentCat !== '') || !isMobile">
        <ul class="assets" id="list">
            <li class="item-modal" *ngFor="let item of assets">
              <div class="multi-indicator" *ngIf="item.colors.length > 0">
                <img class="multi" src="./assets/icons/color-wheel.svg" alt="">
              </div>
                <img class="img-stock" [src]="item.img" (click)="addStockImg($event, item)" alt="image asset" width="400" height="500"/>
                <div class="infos-item">
                    <span class="name">{{ item.name }}</span>
                    <span class="price">{{ item.price }}€</span>
                </div>
            </li>
        </ul>
      </div>
    </div>
</div>