<div class="container-app">
    <div class="container-models">
      <div class="controls">
        <div id="add" class="button" (click)="addText()">
          <img src="./assets/icons/text.svg" alt="">
          <span>Texte</span>
        </div>
        <div class="button" (click)="openModalLib()">
          <img src="./assets/icons/image.svg" alt="">
          <span>Design</span>
        </div>
        <div class="button" (click)="openModalImport()">
          <img src="./assets/icons/upload.svg" alt="">
          <span>Import</span>
        </div>
      </div>
      <div class="change-button left">
        <img src="./assets/icons/arrow.svg" (click)="changeSide(sideNumber-1)" alt="">
      </div>
      <div class="container-canvas">
        <canvas id="c" width="550" height="280" style="z-index: 1;">
        </canvas>
        <div class="side-container" [ngStyle]="{'background-image': 'url(' + side + ')'}">
          <!-- <img [src]="side" class="shoes-bg" alt=""> -->
        </div>
        <div class="list-side">
          <div *ngFor="let side of listSide; let i = index" class="item">
            <img [src]="side.img" (click)="changeSide(i)" alt="">
          </div>
        </div>
      </div>
      <div class="change-button">
        <img src="./assets/icons/arrow.svg" (click)="changeSide(sideNumber+1)" alt="">
      </div>
    </div>
    
    <div class="item-selected">
      <div class="category-item">
        <div class="delete-icon" *ngIf="activeObject" (click)="deleteObject()">
          <img src="./assets/icons/delete.svg" alt="">
        </div>
        <span class="title" *ngIf="generalDisplay" contenteditable="true" (blur)="blur($event)">{{ activeObject.text }}</span>
        <span class="title" *ngIf="imgDisplay">Image</span>
      </div>
      <div id='i-text' class="item-panel">
        <div id="general-controls" *ngIf="generalDisplay">
          <div class="style-panel">
            <span>Style</span>
            <div id="text-controls-additional">
              <input type='checkbox' [(ngModel)]="isBold" (ngModelChange)="textTransform()" name='fonttype' id="text-cmd-bold">
              <label class="text-control" for="text-cmd-bold">
                <b>B</b>
              </label>
              <input type='checkbox' [(ngModel)]="isItalic" (ngModelChange)="textTransform()" name='fonttype' id="text-cmd-italic">
              <label class="text-control" for="text-cmd-italic">
                <i>I</i>
              </label>
              <input type='checkbox' name='fonttype' id="text-cmd-underline">
              <label class="text-control" for="text-cmd-underline">
                <span style="text-decoration:underline">U</span>
              </label>
              <select id="font-family" (change)="changeFont($event.target.value)">
                <option value="arial">Arial</option>
                <option value="helvetica">Helvetica</option>
                <option value="comic sans ms">Comic Sans MS</option>
                <option value="anton" selected>Anton</option>
              </select>
            </div>
          </div>
          <div id="color-controls">
            <span>Couleur</span>
            <!-- <div class="header-control">
              <span (click)="back()"> < </span> <p>Choose a coulor</p>
            </div>   -->
            <div id="color-list">
              <div *ngFor="let item of colorList" class="color-item" [id]="item" [ngClass]="{active: activeColor === '#'+item}" [ngStyle]="{'background-color': '#'+item}" (click)="changeColor(item)"></div>
            </div>
          </div>
        </div>
        <div id='image' *ngIf="imgDisplay">
            <div (click)="bringForward()">En avant</div>
            <div (click)="bringBackward()">En arriere</div>
            <div id="color-list">
              <div *ngFor="let item of imgLib?.colors" class="color-item" [ngClass]="{active: activeObject.color === item.color}" [ngStyle]="{'background-color': '#'+item.color}" (click)="changeColorImg(item)"></div>
            </div>
        </div>
      </div>
      <div class="price-panel">
        <span class="title">
          Total
        </span> 
        <span class="title">
          {{ totalPrice }}€
        </span> 
      </div>
    </div>
  </div>